[submodule "src/third_party/khronos/vulkan-loader"]
	path = src/third_party/khronos/vulkan-loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
[submodule "src/third_party/khronos/vulkan-validation-layers"]
	path = src/third_party/khronos/vulkan-validation-layers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers
[submodule "src/third_party/capnproto"]
	path = src/third_party/capnproto
	url = https://github.com/capnproto/capnproto
[submodule "src/third_party/khronos/glslang"]
	path = src/third_party/khronos/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "src/third_party/khronos/vulkan-hpp"]
	path = src/third_party/khronos/vulkan-hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
[submodule "src/third_party/google/skia"]
	path = src/third_party/google/skia
	url = https://github.com/google/skia
[submodule "src/third_party/khronos/spirv-headers"]
	path = src/third_party/khronos/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "src/third_party/khronos/vulkan-utility-binaries"]
	path = src/third_party/khronos/vulkan-utility-binaries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries
[submodule "src/third_party/khronos/spirv-tools"]
	path = src/third_party/khronos/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "src/third_party/SDL"]
	path = src/third_party/SDL
	url = https://github.com/libsdl-org/SDL
